<p class="tbody">glance is a portal for sharing streetwear images and inspiration.</p>
<p class="tbody">share what you see on the web and the street and explore fashion trends before they hit the high street.</p>