<p class="tbody">glance is a portal for sharing footwear images and inspiration.</p>
<p class="tbody">share what you think is cool on the web and the street and explore fashion trends before they hit the high street.</p>